*{
    margin: 0;
    padding: 0;
}
      body {
        font-family: Arial, sans-serif;
        margin-bottom: 20rem;
        background-image: url("bg1.avif");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .container {
        max-width: 800px;
        margin: auto;
        margin-top: 70px;
        background: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
      }

      .product {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        padding: 10px;
        border-bottom: 1px solid rgb(185, 182, 182);
      }

      button {
        background:rgb(52, 175, 52);
        border-radius: 4px;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
      }
      
      h2{
        margin-top: 30px;
        text-decoration: solid;
      }

      .cart {
        margin-top: 20px;
        padding: 10px;
        border-top: 2px solid rgb(46, 44, 44);
      }
    